@font-face {
  font-family: 'Knockout';
  src: url("Knockout-49Liteweight.woff") format("woff");
  font-style: normal;
}

sup{
  line-height: 0; 
  font-size: .6em;
}

p{
  margin:0;
}

div{
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#banner_container_dc {
  width: 320px;
  height: 50px;
  /* border: 1px solid #eaeaea; */
  position: relative;
  color: white;
  overflow: hidden;
  box-sizing: border-box;
}

#content_dc {
  width: 320px;
  height: 50px;
  bottom: 0px;
  left: 0px;
  background-color: #fff;
  background-size: 320px auto;
  z-index: 100;
  box-sizing: border-box;
}


#backgroundExit1 {
  top:0;
  left:0;
  width:100%;
  height:100%;
  position: absolute;
  cursor: pointer;
  z-index: 500;
  background: rgba(0,0,0,0);
}

#border-container{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  border: 1px solid #000000;
  z-index: 520;
  pointer-events: none;
}



.assets{
  box-sizing: border-box;
}

.assets img,
.assets > div{
  position: absolute;
  width: 100%;
  transform: translateZ(1px);
}
.assets > div{
  height: 100%;
}

.image-container{
  overflow: hidden;
}



#cover{
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  background: #ffffff;
}


div.roofline {
  top: -5px;
  left: 128px;

  position: absolute;
  height: 200px;
  width: 105px;
  overflow: hidden;

  background-image: url(roofline.png);
  background-repeat: no-repeat;
  background-size: 96px auto;
}

.assets .bar{
  position: absolute;
  width: 196px;
  height: 100%;
  right:0;
  bottom:0;
  /* background: rgba(0,255,0,.6); */
  overflow: hidden;
}

#logo{
  position: absolute;
  top: 27px;
  left: 112px;
  width: 112.68px;
  transform-origin: 0 0;
  image-rendering: optimizeQuality;
  transform: scale(.5);
}

#cta{
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
  text-shadow: 0 0 50px black;
  overflow: hidden;
  top: 10px;
  left: 112px;

  font-size: 8px;

  width: 55px;

  height: 13px;
  background-color: #003da6;
  border-radius: 6px;
  text-align: center;
  line-height: 14px;

  color: #fff;
  
}
.Windows #cta{
  line-height: 13px;
}

.text, #cta{
  font-family: 'Knockout', Arial, Helvetica, sans-serif;
  backface-visibility: hidden;
  text-transform: uppercase;
  position: absolute;

  font-variant: small-caps;
  text-rendering: optimizeLegibility;
}

.text{
  text-align: center;
  width: 100%;
  color: #003da6;
  transform-origin: 50% 0;
  top: 17px;
}

.text .blue{
  color: #003da6;
}
.text .red{

  color: #eb1844;
}

.text{
  text-align: center;
  width: 100%;
  color: #003da6;
  /* -webkit-text-stroke: .6px rgba(255,255,255,0.5); */
  transform-origin: 41% 0;
  top: 16px;
  transform: translateX(-36px) scaleX(.5) scaleY(43%);
}

.text .blue{
  color: #003da6;
}
.text .red{

  color: #eb1844;
}

#text-1 {
  font-size:12px;
}

.d1{
  transform-origin: 100% 50%;
  transform: scaleX(200%) scaleY(190%) translateX(-.1em);
}
.d2{
  transform-origin: 0% 50%;
  transform: scaleX(200%) scaleY(190%) translateX(.1em);
}

#text-1 .dash{
  display: inline-block;
  
}

#text-1 .size-1{
  font-size: 2.2em;
  line-height: 90%;
}
#text-1 .size-2{
  font-size: 1.85em;
  line-height: 90%;
}

#text-1 .size-3{
  font-size: 2.35em;
  line-height: 80%;
}


#text-2 {
  font-size:12px;
  transform: translateX(-36px) scaleX(.5) scaleY(43%);
}

#text-2 .size-1{
  font-size: 1.7em;
  line-height: 90%;
}
#text-2 .size-2{
  font-size: 1.8em;
  line-height: 90%;
}
#text-2 .size-3{
  font-size: 2.05em;
  line-height: 80%;
}


/* 
#text-3 {
  font-size:11px;
  transform: translateX(-36px) scaleX(.5) scaleY(48%);
}

#text-3 .size-1{
  font-size: 2.2em;
  line-height: 85%;
}
#text-3 .size-2{
  font-size: 1.55em;
  line-height: 90%;
}

#text-3 .size-3{
  font-size: 2.15em;
  line-height: 95%;
} */



:root{
  --legal-height: 40px;
}

#legal-view {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  background: #474a50f5;
  width: 100%;
  /* height: var(--legal-height); */
  top: 0;
  right: 0;
  margin-top: calc( -2* var(--legal-height));
  transition: all .4s ease-out;
  font-family: 'Open Sans', sans-serif;
  font-size: 6px;
  padding: 4px 12px 6px 5px;
  line-height: 1.3em;
  color: #fff;
  text-align: left;
  z-index: 510;
}

#legal-view .close {
  position: absolute;
  right: 3px;
  top: 1px;
  line-height: 1em;
  font-size: 12px;
}

#legal-view.open {
  margin-top: 0px;
}

#legal-button {
  position: absolute;
  cursor: pointer;
  background: #474a50;
  color: #fff;
  font-size: 5px;
  line-height: 10px;
  width: 25px;
  height: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  top: 0;
  right: 0;
  z-index: 511;
  text-align: center;
  transition: all .4s ease-out;
}

#legal-button.open {
  opacity: 0;
}

#legal-button.hide {
  top: -8px;
}

