@charset "UTF-8";

@font-face {
    font-family: "MBCorpoSTextCondBold";
    src: url("https://s0.2mdn.net/creatives/assets/4431188/MBCorpoSText-CondBold.woff2") format("woff2"),
        url("https://s0.2mdn.net/creatives/assets/4431188/MBCorpoSText-CondBold.woff") format("woff"),
        url("https://s0.2mdn.net/creatives/assets/4431188/MBCorpoSText-CondBold.ttf") format("ttf"),
        url("https://s0.2mdn.net/creatives/assets/4431188/MBCorpoSText-CondBold.eot") format("eot");
    font-weight: 400;
    font-style: normal;
}


html {
    background: #fff;
    color: #000;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

img {
    border: 0;
}

body,
html {
    height: 100%;
}

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    background-repeat: no-repeat;
    position: relative;
    user-select: none;
}

*:before,
*:after {
    cursor: inherit;
    box-sizing: inherit;
    background-repeat: no-repeat;
    position: relative;
    user-select: none;
}
html {
    background: transparent;
}

body {
    width: 1000px;
    height: 200px;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: transparent;
    text-decoration: none;
}

#ad {
    overflow: hidden;
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
}

#main-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#logo {
    position: absolute;
    width: 40px;
    right: 30px;
    bottom: 20px;
    opacity: 1;
}
#mercedesLogo {
    position: absolute;
    width: 112px;
    height: auto;
    left: 19px;
    bottom: 37px;
}

#img_01, #img_02, #img_03, #img_04 {
    position: absolute;
    height: 200px;
    width: auto;
    top: 0px;
    left: 0;
    transform: scale(1);
}

#txt1,
#txt2, #txt3, #txt4 {
    position: absolute;
    font-family: "MBCorpoSTextCondBold";
    font-size: 17px;
    line-height: 18px;
    color: #fff;
    opacity: 0;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-align: left;
    top: 70px;
    left: 70px;
    width: 460px;
}
/* #txt3 { top: 85px; } */

#ctaAlign {
    position: absolute;
    width: 360px;
    display: flex;
    justify-content: center;
}
#cta_container {
    position: absolute;
    top: 145px;
    width: 117px;
    height: 30px;
    background: transparent;
    /* border-radius: 2px; */
    opacity: 0;
    border: 1px solid #fff;
    left:70px;
}
#cta {
    font-family: "MBCorpoSTextCondBold";
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 16px;
    position: absolute;
    left: 9px;
    top: 6.5px;
    line-height: 16px;
    letter-spacing: 0;
}

#blueBg {
    position: absolute;
    width: 270px;
    height: 284px;
    background-color: #342c77;
    top: 15px;
    left: 15px;
    opacity: 0.7;
}

#blueBg1 {
    position: absolute;
    width: 1000px;
    height: 314px;
    border: 15px solid rgba(52, 44, 119, 0.7);
    top: 0px;
    left: 0;
    /* opacity: 0; */
}

#blackMask {
    position: absolute;
    width: 360px;
    height: 200px;
    background-color: #1666b0;
    top: 0px;
    /* right: 0; */
    left:670px;
}

